.song{
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.song>img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    
}
