.chartSection {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.chart{
    width: 100%;
    min-height: 50vh;
    background-color: rgb(170, 170, 170);
    padding: 1em;
}
.coloms{
  display: flex;
  justify-content: space-between;
  align-items: center;
}